.menu-opcoes ul{
    font-size: 30px;
}
.menu-opcoes a{
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.menu-opcoes a:hover{
    animation: pulse 1s infinite;
}
.menu-opcoes ul li{
    display: inline;
    margin-left: 70px;
}


.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; 
    margin: 0 auto;   
}
.logo-adimo img{
    display: flex;
    align-items: center;
    width: 150px; 
    justify-content: flex-start; 
}


.botao-login {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: red;
    border: none;
    padding: 8px 16px;
    font-size: 26px;
    cursor: pointer;
    opacity: .7;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 30px;
    text-decoration: none;
    
}
.botao-login img {
    vertical-align: middle; 
    margin-right: 5px; 
    width: 50px; 
    border-radius: 10px;
}

.botao-login:hover {
    animation: pulse 1s infinite;
    background-color: #FF3131;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: white;
}

        
#container-imagem {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: rgba(255,0,0,0.5);
    background-image: url('../img/BG_Site.jpg');
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}







.social {
    list-style-type: none;
    padding: 0;
    height: 100px; 
}

.social li {
    display: inline;
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    vertical-align: middle; 
    font-family: 'Open Sans', sans-serif;
    
}
.social img{
    
    height: 70px;
    width: 70px;
   vertical-align: middle; 
}

@media (max-width: 767px) {
    .column {
        width: 100%; 
    }
}
.menu-rodape ul{
    font-size: 30px;
}
.menu-rodape a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}
.menu-rodape ul li{
    display: inline;
    margin-left: 70px;
}
.menu-rodape {
    max-width: 960px;
    height: 100px;    
    position: absolute;
    bottom: 0;
    right: 0; 
    margin: 20px 0 0 0;
    font-size: 32px;
    margin-right: 50px;
    margin-top: 50px;
    
}
.icone-user {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; 
}

.icone-user img {
    width: 50px;
}
